<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper-footer">
    <h2 class="footer-heading"><span class="hash">#</span>{{ site.title | escape }}</h2>
  <div class="footer-right">
    <h4 class="footer-author">{{ site.author | escape }}</h3>
      <div class="footer-description">
        <p>{{- site.description | escape -}}</p>
      </div>
  </div>
    </div>
  </div>

</footer>
<script src={{"/assets/js/post.js"}}></script> 



