---
layout: default
---
<article class="post" >

  <header class="p-header">
    <h1 class="p-title" ><span class="hash"># </span>{{ page.title | escape }}</h1>
    <p class="p-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" >
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        <span class="p-author">{{ page.author }}</span>
      {%- endif -%}</p>
  </header>

  <div class="p-content" >


  <div class="slides" style="display:none">
    {{content}}  
  </div>

    <div id="slide"></div>

  </div>

  <div id="paginate">
    <div id="before"> before </div>
    <div id="after"> after </div>
  </div>



  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

