---
layout: home
---
<!-- post list -->
{% for post in paginator.posts %}
<li class="post-box"><a href="{{post.url | prepend: site.baseurl}}">
<h3 class="post-title"> <span class="hash"># </span>{{post.title}}</h3></a>
<span class="post-date">{{ post.date | date: date_format }}</span>
<p class="post-author">by {{ post.author }}</p>
</li>
{% endfor %}


<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-prev-active"href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span class="pagination-prev-inactive">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="page-current">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="page-first"href="/">{{ page }}</a>
    {% else %}
      <a class="page-others" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="pagination-next-active" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span class="pagination-next-inactive" >Next &raquo;</span>
  {% endif %}
</div>
{% endif %}