---
layout: page
permalink: /search/
title: "Search"
---
<div class="search-box">
<div id="search-container">
<input type="text" id="search-input" placeholder="search...">
<ul id="results-container"></ul>
</div>

<!-- Script pointing to search-script.js -->
<script src="/assets/js/search.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json',
  searchResultTemplate: '<div class="search"><a class="search-title"href="{url}"><h1> <span class="hash"># </span>{title}</h1></a><span class="search-date">{date}</span> <br/> <span class="search-author">{author}</span></div>'
})
</script>

</div>