.wrapper-footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: 1px solid white;
}

.footer-heading{
  font-size: 1.5em;
  margin: 0;
}

.footer-author{
  color: $highlight;
  margin-top: 0;
  margin-bottom: -20px;
  margin-left: 3vw;
}
.footer-description p{
margin-bottom: 0;
}
.footer-right{
  color: $lighter;
padding-bottom: -20px;
}