.site-title{
  font-size: 25px;
  text-decoration: none;
  color: $highlight;
  &:hover{
    color: $opposite;
  }
}

.page-link{
  color: $opposite;
  &:hover{
    color: $opposite;
  }
  &:visited{
    color: $opposite;
  }
}

.page-link{
  font-size: 20px;
  text-decoration: none;
  margin-right: 4vw;
  &:hover{
    color: $highlight;
  }
}

header{
  border-bottom: 1px solid white;
  padding: 5px;

  .wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}