.home{
  height: 88vh;
  padding-left: 10vw;
  list-style-type: none; 

display: flex;
flex-direction: column;
justify-content: space-around;


  a{
    text-decoration: none ;
  }
  font-size: 1.2em;
}


.post-box{
  border-left : 10px solid rgba($lighter, .3);
  padding-left: 1vw;

}
.post-title{
  text-decoration: none;
  color: $highlight;
  margin: 0;
  width: 80%;
  background-image: linear-gradient(transparent calc(90% - 1px), rgba(218, 65, 103, 0.35) calc(50% - 9px), rgba(218, 65, 103, 0.35));
  transition: background-position 320ms ease-in-out 0s, padding 120ms ease-in-out 0s, color 220ms ease-in-out;
  background-size: 100% 200%; 
  &:hover {
    background-image: linear-gradient(transparent calc(50% - 9px), rgb(218, 65, 103) calc(50% - 9px), rgb(218, 65, 103));
    background-position: 0px 100%;
    color: $black;
    .hash{
      color: $black;
      transition: color 620ms ease-in-out;
    }
  }
}
.post-date{
  padding-left: 4vw;
  opacity: .7;

}
.post-author{
  padding-left: 6vw;
  margin: 0;
  opacity: .5;
}


.pagination{
  a{color: $black} ;

}


.pagination-prev-inactive, .pagination-next-inactive{
  visibility: hidden;
}

.pagination-prev-active, .pagination-next-active{
  background-color: $opposite;
  color: $black;
  padding: 0 5px;
  border: 3px solid rgba($white, .2);
  transition: background-color 200ms ease-in-out;

  &:hover{
    background-color: $lighter;
  }
}


.page-current{
  background-color: $opposite;
  color: $black;
  padding: 0 5px;
  border: 3px solid rgba($white, .2);
  transition: background-color 200ms ease-in-out;

  &:hover{
    background-color: $lighter;
  }

}
.page-others, .page-first{
  background-color: rgba($lighter, .5);
  border: 3px solid rgba($white, .2);
  padding: 0 5px;
  transition: background-color 200ms ease-in-out;
  &:hover{
    background-color: rgba($lighter, .8);
  }
}