$white : #fff;
$black : #333;
$highlight : #EA9010;
$lighter : #f1a73f;
$opposite : #DA4167;



@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
$typo : 'Courier Prime';

