.p-meta{
  margin: 0 !important;
  padding-left: 5vw;
  opacity: .6 ;
}
.p-header{
  padding-left: 10vw;
}
.p-title{
  color: $highlight;
  margin: 0;
}

.p-content{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slide{
width: 85vw;
word-break: break-word;
  h1{
    font-size: 3em;
    margin: 0;
    color: $opposite;
    padding-left: 3vw;
    border-bottom: 1px solid $opposite ;
  }
  h2{
    font-size: 2.8em;
    margin: 0;
    color: $highlight;
    padding-left: 3vw;
    border-bottom: 1px solid $highlight ;
  }
  h3{
    font-size: 2.6em;
    margin: 0;
    color: $opposite;
    padding-left: 3vw;
    border-bottom: 1px solid $opposite ;
  }  
  h4{
    font-size: 2.4em;
    margin: 0;
    color: $highlight;
    padding-left: 3vw;
    border-bottom: 1px solid $highlight ;
  }
  h5{
    font-size: 2.2em;
    margin: 0;
    color: $lighter;
    padding-left: 3vw;
    border-bottom: 1px solid $lighter ;
  }
  h6{
    font-size: 2em;
    margin: 0;
    color: $lighter;
    padding-left: 3vw;
    border-bottom: 1px solid $lighter ;
  }

  p{
    font-size: 1.5em;
    margin: 10px;
  }
  li{
    list-style-type:'# ';
  }
  ul{
    font-size: 20px;
  }
  // --------------------------------------------------HERE TO MODIFY IMG HEIGHT AND WIDTH--------------------
  img{
    max-width: 200px;
    max-height: 200px;
  }
  a{
    font-size: 1em;
    text-decoration: none;
    color: $lighter;
    text-decoration: underline;
      &:hover{
        background-color: $opposite;
        color: $highlight;
      }
  }
  strong{
    color: $highlight;
  }
  em{
    color: $opposite;
  }
  blockquote{
    margin: 0;
    font-style: italic;
    border-left: 10px solid rgba($lighter, .3);
  }
  pre{
    padding: 20px;
    border: 5px solid $highlight;
    code{
      font-size: 1.2em;


    }
    
  }


}