.search-box{

}

#search-input{

  &:focus{
    outline: 0;
  }
  color: $white;
  margin: 20px;
  background-color: $black;
  border : 3px solid $white;
  padding: 8px;
  width: 50%;
  size: 1.8em;
}

.search{
  padding-left: 5vw;

}
.search-title{
  color: $highlight;
  width: 100%;
  text-decoration: none;
  h1{
    text-decoration: none;
    color: $highlight;
    margin-bottom: 0;
    width: 80%;
    background-image: linear-gradient(transparent calc(90% - 1px), rgba(218, 65, 103, 0.35) calc(50% - 9px), rgba(218, 65, 103, 0.35));
    transition: background-position 320ms ease-in-out 0s, padding 120ms ease-in-out 0s, color 220ms ease-in-out;
    background-size: 100% 200%; 
    &:hover {
      background-image: linear-gradient(transparent calc(50% - 9px), rgb(218, 65, 103) calc(50% - 9px), rgb(218, 65, 103));
      background-position: 0px 100%;
      color: $black;
      .hash{
        color: $black;
        transition: color 620ms ease-in-out;
      }
    }

  }
}
.search-date{
  opacity: .6;
  margin-left: 5vw;
}
.search-author{
  opacity: .3;
  margin-left: 5vw;
}